1) What is lambda Function In  python and how does it differ from regular function ?

In [1]:
print("A lambda function is an anonymous function (i.e., defined without a name) that can take any number of arguments but, unlike normal functions, evaluates and returns only one expression.")

A lambda function is an anonymous function (i.e., defined without a name) that can take any number of arguments but, unlike normal functions, evaluates and returns only one expression.

In [16]:
# Lambda Function
(lambda x:x+2)(14)

16

In [17]:
#Normal Function

In [18]:
def Add_1(x):
    return x + 1

In [19]:
Add_1(5)

6

In [20]:
#now lambda function With Multiple argument

In [21]:
(lambda x,y,z : x+y+z)(3,4,6)

13

In [1]:
#Normal Function Take 2 to 3 lines while lambda functiuon take only single Line

2 ) Can a Lambda Function of python have a multiple argument ? if yes how you can define  and use them

In [23]:
# yes Lambda function Have a multiple argument

In [24]:
(lambda x, y,z :x-y+z)(2,5,9)

6

3) How the lambda function typially used in python ? Provide an example and use case

In [26]:
import pandas as pd

In [31]:
df = pd.DataFrame(
    {"name": ["Priyanhsu", "Himanshu", "Sudhanshu", "Ansu", "Krishanshu", "Tripanshu"],
     "score": [18, 32, 15, 5, 3, 9]
    }
)

In [32]:
df

         name  score
0   Priyanhsu     18
1    Himanshu     32
2   Sudhanshu     15
3        Ansu      5
4  Krishanshu      3
5   Tripanshu      9

In [30]:
# I used Typically in Machine Learning in model building

In [34]:
df["score"].apply(lambda x:"18+" if x>18 else "Below 18")

0    Below 18
1         18+
2    Below 18
3    Below 18
4    Below 18
5    Below 18
Name: score, dtype: object

4 ) What are the advantages and Limitation Of Lambda Fucntion  Compared To regular Function

In [2]:
#Advantages
print("1) The main advantage is their concise and readable syntax")

1) The main advantage is their concise and readable syntax

In [4]:
#Disadvantages
print("1) lambda functions can only contain a single expression and cannot include statements")
print("2) user define function using the def keyword and can contain multiple lines of code and statements")

1) lambda functions can only contain a single expression and cannot include statements
2) user define function using the def keyword and can contain multiple lines of code and statements

5) Are lambda function in python able to access variables defined out side of their own scope ?

In [13]:
#answer
print("Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.")

Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.

In [14]:
a=100

In [15]:
(lambda x:x+a)(4)

104

6) Write a lambda fucntion to calculate a square of given function

In [21]:
a=int(input("Enter a Given Number "))

Enter a Given Number 5

In [22]:
(lambda x:x**2)(a)

25

7) Create a Lambda fucntion to find a  Maximum value in a List of Integer

In [25]:
a=[2,4,7,0,5,13,456]

In [26]:
(lambda x:max(x))(a)

456

8) Implement a lambda fucntion to filter out a all the even number in a given list

In [74]:
s=[3,4,65,4,5,6,7,8,9]

In [44]:
list(filter(lambda x:x%2==0 ,s))

[4, 4, 6, 8]

In [79]:
list(filter(lambda x:x%2==0 ,s))

[4, 4, 6, 8]

In [37]:
numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

print("List of even numbers:")
evenNumbers = list(filter(lambda x: x%2 == 0, numbers))
print(evenNumbers)

List of even numbers:
[22, 44, 66, 88, 100]

9) write a lambda fucntion to sort a list in  ascending order based on length of each word

In [60]:
myList = ["my", "name", "is", "priyanshu", "staying", "in", "mumbai"]

In [81]:
sorted(myList , key=lambda x:len(x))

['my', 'is', 'in', 'name', 'mumbai', 'staying', 'priyanshu']

10) Create a lambda fucntion that two list as input and return a single list that contain a comon element between two list

In [82]:
a=[2,3,4,5,6,8]
b=[3,5,7,8]

In [ ]:
lambda x,y: i for i in x

11 ) Write a recursive function  to calculate a factorial of given positive number

In [2]:
def factorial12(x):
    if x==0 and x==1:
        return 1
    else:
        return x * factorial12(x-1)

12 ) Implement a recursive fucntion to compute the nth Fibanacci number

In [6]:
def fibonacci(x):
    if x==0:
        return 0
    elif x==1:
        return 1
    else:
        return (fibonacci(x-1) + fibonacci(x-2))

In [7]:
fibonacci(5)

5

In [10]:
k=10

In [11]:
for i in range(0,k):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

I DONT HAVE COMPLETE KNOWLEDGE OF RECURSIVE FUNCTION